body
{
	padding-top: 48px;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	line-height: 1.5;
}

.navbar-default
{
	background-color: #f4f5f6;
	border-color: #4D2D78;
	border-bottom-width: 3px;

	.navbar-brand
	{
		margin-right: 20px;
	  	color: #5e5e5e;
		font-weight: bold;
		text-shadow: 1px 1px 2px #fff;

		&:focus,
		&:hover
		{
	  		color: #000;
		}
	}

	.navbar-nav > li > a
	{
		color: #5e5e5e;
  		font-size: 18px;
  		text-shadow: 1px 1px 2px #fff;

		&:hover,
		&:focus
		{
			color: #000;
		}

		&.active
		{
			background: #4D2D78;
			color: #fff;
			text-shadow: 1px 1px 2px #000;
		}
	}
}

.jumbotron
{
	margin-top: 15px;
	margin-bottom: 0;
	color: #fff;
	text-shadow: 2px 2px 5px #000;
	background: center center no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	&.is-1
	{
		background-image: url("../images/hut1-blurred.jpg");
	}

	&.is-2
	{
		background-image: url("../images/hut2-blurred.jpg");
	}

	&.is-3
	{
		background-image: url("../images/scouts1-blurred.jpg");
	}

	&.is-4
	{
		background-image: url("../images/scouts3-blurred.jpg");
	}
}

.thermometer
{
	width: 137px;
	height: 300px;
	float: right;
}

.calendar
{
	margin: 0 0 20px;
	padding: 0;
	list-style: none;

	li
	{
		margin: 15px 0 0;
		padding: 0 0 0 100px;
		list-style: none;
		position: relative;
	}

	.date
	{
		width: 100px;
		font-weight: bold;
		position: absolute;
		top: 0;
		left: 0;
	}
}

.raffle
{
	text-align: center;

	h3
	{
		font-weight: bold;
	}

	p
	{
		text-align: left;
	}

	img
	{
		margin: 0 auto 15px;
		border: 1px solid #333;
	}
}

.highlight
{
	padding: 15px 50px;
	background: #f4f5f6;
	font-size: 16px;
	text-align: center !important;
}

.legal
{
	color: #999;
	font-size: 13px;
}

h2,
h3
{
	margin-top: 30px;
	margin-bottom: 20px;
	font-size: 22px;

	i,
	.fa
	{
		margin: 0 10px 0 0;
		border-radius: 50px;
		color: #4D2D78;
		font-size: 22px !important;
		text-align: center;
	}
}

p
{
	margin-bottom: 15px;
}

.row
{
	margin: 20px -30px;

	.row
	{
		margin-top: 0;
	}
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12
{
	padding-left: 30px;
	padding-right: 30px;
}

@media (min-width: 768px)
{
	.jumbotron
	{
		padding-bottom: 50px;

		h1
		{
			font-size: 32px;
		}
	}

	.navbar-brand
	{
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.navbar-nav > li > a
	{
		margin: 0 0 0 20px;
		padding: 20px;
	}
}